<div class="center jumbotron">
  <div class="text-center">
    <h1>ようこそ！デッキ管理アプリ<br>List  for Cardgamerへ！！</h1>
    <%= link_to("アカウント作成", "signup", class: "btn btn-lg btn-primary" ) %>
    <%= link_to("ログイン", "login", class: "btn btn-lg btn-primary" ) %>
  </div>
</div>